:root {
  --primaryColor: #3e3a4e;
  --secondaryColor: rgb(248, 249, 250);
  --bgColor: #14181c;
  --textColor: #9ab;
  --scrollColor: rgb(219, 219, 219);
  --thumbColor: rgb(168, 168, 168);
  --scrollBarColor: rgb(241, 241, 241);
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #14181c url("https://s.ltrbxd.com/static/img/content-bg.0d9a0f0f.png") 0 -1px repeat-x;
}

.dark-mode {
  --primaryColor: #3e3a4e;
  --bgColor: #14181c;
  --textColor: #9ab;
  --secondaryColor: rgb(7 8 13);
  --scrollColor: rgb(37, 39, 54);
  --thumbColor: rgb(30, 29, 43);
  --scrollBarColor: rgb(37, 39, 54);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--textColor);
}

a {
  color: inherit;
  text-decoration: none;
}

.container-xxxl {
  max-width: 1440px;
  padding: 0 5%;
  margin: auto;
}

.text-purple {
  color: var(--primaryColor);
}

::-webkit-scrollbar {
  background-color: var(--scrollBarColor);
}

::-webkit-scrollbar-thumb {
  background-color: var(--thumbColor);
  border-radius: 40px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.view-all {
  color: var(--textColor);
}

.pagination .page-link {
  color: var(--primaryColor);
}

.pagination .active .page-link {
  background-color: var(--primaryColor) !important;
}

.pagination .active .page-link:focus {
  border-color: rgba(111, 87, 235, 0.7);
  box-shadow: 0 0 0 3px rgba(111, 87, 235, 0.3);
  outline: none;
}

.pagination-horizontal {
  overflow: auto;
}

.pagination-horizontal::-webkit-scrollbar {
  display: none;
}

.faded {
  position: relative;
  display: inline-block;
}
.faded:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-collapse: separate;
}
.faded.faded-left:after {
  box-shadow: inset 40px 0 40px -16px;
}
.faded.faded-right:after {
  box-shadow: inset -40px 0 40px -16px;
}
.faded.faded-top:after {
  box-shadow: inset 0 40px 40px -16px;
}
.faded.faded-bottom:after {
  box-shadow: inset 0 -40px 40px -16px;
}
.faded.faded-left.faded-right:after {
  box-shadow: inset 40px 0 40px -16px, inset -40px 0 40px -16px;
}
.faded.faded-left.faded-top:after {
  box-shadow: inset 40px 40px 40px -16px;
}
.faded.faded-right.faded-bottom:after {
  box-shadow: inset -40px -40px 40px -16px;
}
.faded.faded-top.faded-right:after {
  box-shadow: inset -40px 40px 40px -16px;
}
.faded.faded-top.faded-bottom:after {
  box-shadow: inset 0 40px 40px -16px, inset 0 -40px 40px -16px;
}
.faded.faded-left.faded-bottom:after {
  box-shadow: inset 40px -40px 40px -16px;
}
.faded.faded-top.faded-right.faded-bottom:after {
  box-shadow: inset -20px 0 40px 16px;
}
.faded.faded-left.faded-right.faded-bottom:after {
  box-shadow: inset 0 -20px 40px 16px;
}
.faded.faded-left.faded-top.faded-bottom:after {
  box-shadow: inset 20px 0 40px 16px;
}
.faded.faded-left.faded-top.faded-right:after {
  box-shadow: inset 0 20px 40px 16px;
}
.faded.faded-all:after, .faded.faded-left.faded-top.faded-right.faded-bottom:after {
  box-shadow: inset 0 0 40px 16px;
}
.faded.faded-narrow.faded-left:after {
  box-shadow: inset 20px 0 20px -10px;
}
.faded.faded-narrow.faded-right:after {
  box-shadow: inset -20px 0 20px -10px;
}
.faded.faded-narrow.faded-top:after {
  box-shadow: inset 0 20px 20px -10px;
}
.faded.faded-narrow.faded-bottom:after {
  box-shadow: inset 0 -20px 20px -10px;
}
.faded.faded-narrow.faded-left.faded-right:after {
  box-shadow: inset 20px 0 20px -10px, inset -20px 0 20px -10px;
}
.faded.faded-narrow.faded-left.faded-top:after {
  box-shadow: inset 20px 20px 20px -10px;
}
.faded.faded-narrow.faded-right.faded-bottom:after {
  box-shadow: inset -20px -20px 20px -10px;
}
.faded.faded-narrow.faded-top.faded-right:after {
  box-shadow: inset -20px 20px 20px -10px;
}
.faded.faded-narrow.faded-top.faded-bottom:after {
  box-shadow: inset 0 20px 20px -10px, inset 0 -20px 20px -10px;
}
.faded.faded-narrow.faded-left.faded-bottom:after {
  box-shadow: inset 20px -20px 20px -10px;
}
.faded.faded-narrow.faded-top.faded-right.faded-bottom:after {
  box-shadow: inset -10px 0 20px 10px;
}
.faded.faded-narrow.faded-left.faded-right.faded-bottom:after {
  box-shadow: inset 0 -10px 20px 10px;
}
.faded.faded-narrow.faded-left.faded-top.faded-bottom:after {
  box-shadow: inset 10px 0 20px 10px;
}
.faded.faded-narrow.faded-left.faded-top.faded-right:after {
  box-shadow: inset 0 10px 20px 10px;
}
.faded.faded-narrow.faded-all:after, .faded.faded-narrow.faded-left.faded-top.faded-right.faded-bottom:after {
  box-shadow: inset 0 0 20px 10px;
}
.faded.faded-wide.faded-left:after {
  box-shadow: inset 80px 0 80px -28px;
}
.faded.faded-wide.faded-right:after {
  box-shadow: inset -80px 0 80px -28px;
}
.faded.faded-wide.faded-top:after {
  box-shadow: inset 0 80px 80px -28px;
}
.faded.faded-wide.faded-bottom:after {
  box-shadow: inset 0 -80px 80px -28px;
}
.faded.faded-wide.faded-left.faded-right:after {
  box-shadow: inset 80px 0 80px -28px, inset -80px 0 80px -28px;
}
.faded.faded-wide.faded-left.faded-top:after {
  box-shadow: inset 80px 80px 80px -28px;
}
.faded.faded-wide.faded-right.faded-bottom:after {
  box-shadow: inset -80px -80px 80px -28px;
}
.faded.faded-wide.faded-top.faded-right:after {
  box-shadow: inset -80px 80px 80px -28px;
}
.faded.faded-wide.faded-top.faded-bottom:after {
  box-shadow: inset 0 80px 80px -28px, inset 0 -80px 80px -28px;
}
.faded.faded-wide.faded-left.faded-bottom:after {
  box-shadow: inset 80px -80px 80px -28px;
}
.faded.faded-wide.faded-top.faded-right.faded-bottom:after {
  box-shadow: inset -40px 0 80px 28px;
}
.faded.faded-wide.faded-left.faded-right.faded-bottom:after {
  box-shadow: inset 0 -40px 80px 28px;
}
.faded.faded-wide.faded-left.faded-top.faded-bottom:after {
  box-shadow: inset 40px 0 80px 28px;
}
.faded.faded-wide.faded-left.faded-top.faded-right:after {
  box-shadow: inset 0 40px 80px 28px;
}
.faded.faded-wide.faded-all:after, .faded.faded-wide.faded-left.faded-top.faded-right.faded-bottom:after {
  box-shadow: inset 0 0 80px 28px;
}

.panel {
  background-color: blue;
  padding: 1em;
}
.panel .faded {
  color: blue;
}

.featured-search {
  position: absolute;
}