.section-trending .button-wrapper {
  border: 1px solid var(--primaryColor);
  border-radius: 40px;
}

.section-trending .button-wrapper .btn:focus {
}

.section-trending .button-wrapper .btn-trending {
  display: block;
  background-color: var(--secondaryColor);
  color: var(--textColor);
  border-radius: 40px;
}

.section-trending .button-wrapper .btn-active {
  background-color: rgb(105, 77, 248);
  color: rgb(255, 255, 255);
  z-index: 9;
}
